
#root{
    display: flex;
    justify-content: center;
    /* height: 500px; */
}

.row{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    user-select: none;
}

.row > div{
    display: inline-block;
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 30px;
    height: 30px;
    text-align: center;
    /* align-content: center; */
}

.unexplored {
    border-style: outset;
}

.explored{
    border-style: inset;
}

.board{
    background-color: #d3d3d3;
    /* height: 500px */
}

.flagged{
    color: red
}

.bombed{
    color: red
}

.modal{
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-form{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 30%;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.modal-form button{
    display: block
}

.modal-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

